.controls {
  width: 264px;
  position: sticky;
  top: 0;
  margin: 24px 0 0 24px;

  &__item {
    display: flex;
    align-items: center;
    padding: 15.4px 15px;
    border-top: 1px solid #DBDCDE;
    cursor: pointer;

    &:first-child {
      border: none;
    }

    &:hover {
      background-color: #F3F3F3;
    }

    &.active {
      background-color: #F3F3F3;
    }

    svg {
      margin-right: 8px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .controls {
    width: auto;
    margin: 10px 10px 10px 0;
  }
}


@media screen and (max-width: 767px) {
  .controls {
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
    top: auto;
    display: flex;
    border-radius: 0;
    box-shadow: none;

    &__item {
      width: 25%;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      font-size: 12px;
      padding: 7px;
      border: none;
      border-left: 1px solid #DBDCDE;

      svg {
        width: 100%;
        margin-bottom: 7px;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .controls {
    width: auto;
    margin: 0;
    position: fixed;
    bottom: 0;
    top: auto;
    display: flex;
    border-radius: 0;
    box-shadow: none;

    &__item {
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      font-size: 12px;
      padding: 7px;
      border: none;

      svg {
        margin-bottom: 5px;
        margin-right: 0;
      }
    }
  }
}
