.App {
  width: 1222px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 480px) {
  .App {
    width: 100%;
  }
  .container {
    flex-wrap: wrap;

    &__main {
      width: 100%;
      order:2;
    }
    &__aside {
      width: 100%;
      order: 1;
    }
  }
  .App:last-child {
    margin-bottom: 65px;
  }
}
