body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Work Sans', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    padding: 0;
    margin: 0;
}
#root {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
}

.element {
    background-color: #fff;
    border: 1px solid #DBDCDE;
    border-radius: 8px;
    box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
    overflow: hidden;
}


