.settings {
  margin-top: 24px;
  margin-bottom: 24px;

  &__menu {
    display: flex;
    padding: 32px 24px 0;
    border-bottom: 1px solid #DBDCDE;
  }

  &__item {
    padding: 16px 15px 14px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.39px;
    border: 1px solid white;
    margin-bottom: -1px;
    border-bottom: 1px solid #DBDCDE;
    cursor: pointer;

    &.active {
      color: #00A651;
      border: 1px solid #DBDCDE;
      border-radius: 6px 6px 0 0;
      border-bottom: 1px solid #fff;
    }
  }

  &__behavior {
    padding: 39px 30px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;

    &--last {
      margin-top: 29px;
      margin-bottom: 3px;
    }

    &--checkbox {
      margin-top: 27px;
      align-items: start;
      margin-bottom: 34px;

      .settings__right {
        margin-top: -2px;
        margin-left: 14px;
      }
    }
  }

  &__left {
    text-align: right;
    width: 154px;
  }

  &__right {
    display: flex;
    text-align: left;
    margin-left: 15px;
    flex-wrap: wrap;
  }

  &__select {
    display: block;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #2F2F30;
    padding: 9.5px 32px 9.5px 11px;
    border: 1px solid #dbdcde;
    border-radius: 6px;
    appearance: none;
    background-color: #fff;
    background-image: url('../../images/arrow.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 11px top 50%, 0 0;
    background-size: 9px;

    &--big {
      padding-right: 94.5px;
    }

  }

  &__input {
    width: 167px;
    display: block;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #2F2F30;
    padding: 8px 12px;
    border: 1px solid #dbdcde;
    border-radius: 6px;
    margin-right: 24px;
  }

  &__radio {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 18px;

    input {
      -webkit-appearance: none;
      width: 22.5px;
      height: 22.5px;
      position: absolute;
      margin-left: 2px;

      &:checked + .settings__round {
        border: 2px solid #2EB670;
        background-image: url("../../images/Rect.svg");
        background-repeat: no-repeat;
        background-position: 50%;
      }

      & + label {
        display: flex;
        align-items: center;
      }
    }
  }

  &__round {
    display: block;
    width: 22.5px;
    height: 22.5px;
    border: 1px solid #A9ABAE;
    border-radius: 50%;
    margin-right: 13.5px;
    margin-left: 2px;
    box-sizing: border-box;
  }

  &__checkbox {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 1px;

    input {
      position: absolute;
      -webkit-appearance: none;
      display: block;
      width: 23px;
      height: 23px;
      margin-left: 2px;

      &:checked + label::before {
        border: 2px solid #2EB670;
        background-image: url("../../images/check2.svg");
        background-repeat: no-repeat;
        background-position: 50%;
      }
      &:disabled+label::before {
        background-color: #e9ecef;
      }

      & + label {
        display: flex;
        align-items: center;

        &:before {
          content: '';
          width: 23px;
          height: 23px;
          border: 1px solid #A9ABAE;
          border-radius: 4px;
          margin-right: 13px;
          margin-left: 2px;
          box-sizing: border-box;
        }
      }
    }
  }

  &__range {
    display: flex;
    align-items: center;

    input {
      -webkit-appearance: none;
      height: 3px;
      border-radius: 8px;
      background-color: #DBDCDE;
      width: 218px;
      margin-right: 17px;
      background-image: linear-gradient(#2EB670, #2EB670);
      background-size: 65% 100%;
      background-repeat: no-repeat;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 19px;
        height: 19px;
        border:none;
        border-radius: 50%;
        background: #2EB670;
        cursor: pointer;
      }
      &::-moz-range-thumb {
        appearance: none;
        width: 19px;
        height: 19px;
        border:none;
        border-radius: 50%;
        background: #2EB670;
        cursor: pointer;
      }
      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
      }
      &::-moz-range-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
      }
      &::-ms-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
      }
    }


  }

  &__footer {
    display: flex;
    padding: 24px 31px;
    background-color: #FFFBEC;
    border-top: 1px solid #DBDCDE;

    button {
      padding: 13px 25px;
      font-size: 16px;
      font-family: 'Work Sans', sans-serif;
      border-radius: 6px;
    }
  }
  &__save {
    border: none;
    background-color: #2EB670;
    color: #fff;
  }
  &__cancel {
    width: 104px;
    margin-left: 14px;
    background-color: #fff;
    border: 1px solid #A9ABAE;
  }

}

@media screen and (max-width: 480px) {
  .settings {
    width: auto;
    margin: 10px;

    &__menu {
      align-items: center;
      padding: 15px 20px;
      overflow: scroll;
    }
    &__item {
      padding: 7px;
      border-bottom: none;
      text-align: center;

      &.active {
        border-radius: 6px;
        border-bottom: 1px solid #DBDCDE;
      }
    }
    &__behavior {
      padding: 15px 20px;
    }
    &__wrapper {
      flex-wrap: wrap;
      margin-bottom: 10px;

      &--checkbox {
        margin-top: 10px;

        .settings__right {
          margin-left: 0;
        }
      }
      &--last {
        margin-top: 5px;
      }
    }
    &__left {
      width: 100%;
      text-align: left;
      margin: 0 0 5px;
    }
    &__right {
      width: 100%;
      margin: 0;
    }

    &__range {
      position: relative;

      input {
        width: 80%;
        margin-right: 10px;

        &::-webkit-slider-thumb {
          width: 15px;
          height: 15px;
        }
        &::-moz-range-thumb {
          width: 15px;
          height: 15px;
        }
      }
    }

    &__select {
      padding: 7px 20px 7px 10px;
      background-position: right 5px top 50%, 0 0;
    }
    &__input {
      padding: 7px 10px;
      margin-right: 10px;
      max-width: 55%;
    }
    &__round {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-size: 50%;
    }
    &__radio {
      margin-bottom: 10px;
    }
    &__footer {
      padding: 15px 20px;

      button {
        padding: 10px;
      }
    }
  }
}
