.settings {
  margin-top: 24px;
  margin-bottom: 24px;
}
.settings__menu {
  display: flex;
  padding: 32px 24px 0;
  border-bottom: 1px solid #DBDCDE;
}
.settings__item {
  padding: 16px 15px 14px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.39px;
  border: 1px solid white;
  margin-bottom: -1px;
  border-bottom: 1px solid #DBDCDE;
  cursor: pointer;
}
.settings__item.active {
  color: #00A651;
  border: 1px solid #DBDCDE;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #fff;
}
.settings__behavior {
  padding: 39px 30px;
}
.settings__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
.settings__wrapper--last {
  margin-top: 29px;
  margin-bottom: 3px;
}
.settings__wrapper--checkbox {
  margin-top: 27px;
  align-items: start;
  margin-bottom: 34px;
}
.settings__wrapper--checkbox .settings__right {
  margin-top: -2px;
  margin-left: 14px;
}
.settings__left {
  text-align: right;
  width: 154px;
}
.settings__right {
  display: flex;
  text-align: left;
  margin-left: 15px;
  flex-wrap: wrap;
}
.settings__select {
  display: block;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2F2F30;
  padding: 9.5px 32px 9.5px 11px;
  border: 1px solid #dbdcde;
  border-radius: 6px;
  appearance: none;
  background-color: #fff;
  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 11px top 50%, 0 0;
  background-size: 9px;
}
.settings__select--big {
  padding-right: 94.5px;
}
.settings__input {
  width: 167px;
  display: block;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2F2F30;
  padding: 8px 12px;
  border: 1px solid #dbdcde;
  border-radius: 6px;
  margin-right: 24px;
}
.settings__radio {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16.5px;
}
.settings__radio input {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 2px;
}
.settings__radio input:checked + .settings__round {
  border: 2px solid #2EB670;
  background-image: url("../../images/Rect.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.settings__radio input + label {
  display: flex;
  align-items: center;
}
.settings__round {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #A9ABAE;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 2px;
  box-sizing: border-box;
}
.settings__checkbox {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 1px;
}
.settings__checkbox input {
  position: absolute;
  -webkit-appearance: none;
  display: block;
  width: 23px;
  height: 23px;
  margin-left: 2px;
}
.settings__checkbox input:checked + label::before {
  border: 2px solid #2EB670;
  background-image: url("../../images/check2.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
.settings__checkbox input:disabled + label::before {
  background-color: #e9ecef;
}
.settings__checkbox input + label {
  display: flex;
  align-items: center;
}
.settings__checkbox input + label:before {
  content: "";
  width: 23px;
  height: 23px;
  border: 1px solid #A9ABAE;
  border-radius: 4px;
  margin-right: 13px;
  margin-left: 2px;
  box-sizing: border-box;
}
.settings__range {
  display: flex;
  align-items: center;
}
.settings__range input {
  -webkit-appearance: none;
  height: 3px;
  border-radius: 8px;
  background-color: #DBDCDE;
  width: 218px;
  margin-right: 17px;
  background-image: linear-gradient(#2EB670, #2EB670);
  background-size: 65% 100%;
  background-repeat: no-repeat;
}
.settings__range input::-webkit-slider-thumb {
  appearance: none;
  width: 19px;
  height: 19px;
  border: none;
  border-radius: 50%;
  background: #2EB670;
  cursor: pointer;
}
.settings__range input::-moz-range-thumb {
  appearance: none;
  width: 19px;
  height: 19px;
  border: none;
  border-radius: 50%;
  background: #2EB670;
  cursor: pointer;
}
.settings__range input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.settings__range input::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.settings__range input::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.settings__footer {
  display: flex;
  padding: 24px 31px;
  background-color: #FFFBEC;
  border-top: 1px solid #DBDCDE;
}
.settings__footer button {
  padding: 13px 25px;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  border-radius: 6px;
}
.settings__save {
  border: none;
  background-color: #2EB670;
  color: #fff;
}
.settings__cancel {
  width: 104px;
  margin-left: 14px;
  background-color: #fff;
  border: 1px solid #A9ABAE;
}

@media (min-width: 992px) and (max-width: 1230px) {
  .settings {
    width: auto;
    margin: 10px;
  }
  .settings__left {
    width: 25%;
  }
  .settings__right {
    width: 75%;
    text-align: left;
  }
  .settings__item {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .settings {
    width: auto;
    margin: 10px;
  }
  .settings__left {
    width: 30%;
    text-align: left;
  }
  .settings__right {
    width: 70%;
    text-align: left;
  }
  .settings__item {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .settings {
    width: auto;
    margin: 10px;
  }
  .settings__menu {
    align-items: center;
    padding: 15px 20px;
    overflow: scroll;
  }
  .settings__item {
    padding: 7px;
    border-bottom: none;
    text-align: center;
  }
  .settings__item.active {
    border-radius: 6px;
    border-bottom: 1px solid #DBDCDE;
  }
  .settings__behavior {
    padding: 15px 20px;
  }
  .settings__wrapper {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .settings__wrapper--checkbox {
    margin-top: 10px;
  }
  .settings__wrapper--checkbox .settings__right {
    margin-left: 0;
  }
  .settings__wrapper--last {
    margin-top: 5px;
  }
  .settings__left {
    text-align: left;
    margin: 0 0 5px;
  }
  .settings__right {
    margin: 0;
  }
  .settings__range {
    position: relative;
  }
  .settings__range input {
    margin-right: 10px;
  }
  .settings__range input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }
  .settings__range input::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }
  .settings__select {
    padding: 7px 20px 7px 10px;
    background-position: right 5px top 50%, 0 0;
  }
  .settings__input {
    padding: 7px 10px;
    margin-right: 10px;
    max-width: 55%;
  }
  .settings__round {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: 50%;
  }
  .settings__radio {
    margin-bottom: 10px;
  }
  .settings__footer {
    padding: 15px 20px;
  }
  .settings__footer button {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .settings {
    width: auto;
    margin: 10px;
  }
  .settings__menu {
    align-items: center;
    padding: 15px 20px;
    overflow: scroll;
  }
  .settings__item {
    padding: 7px;
    border-bottom: none;
    text-align: center;
  }
  .settings__item.active {
    border-radius: 6px;
    border-bottom: 1px solid #DBDCDE;
  }
  .settings__behavior {
    padding: 15px 20px;
  }
  .settings__wrapper {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .settings__wrapper--checkbox {
    margin-top: 10px;
  }
  .settings__wrapper--checkbox .settings__right {
    margin-left: 0;
  }
  .settings__wrapper--last {
    margin-top: 5px;
  }
  .settings__left {
    width: 100%;
    text-align: left;
    margin: 0 0 5px;
  }
  .settings__right {
    width: 100%;
    margin: 0;
  }
  .settings__range {
    position: relative;
  }
  .settings__range input {
    width: 80%;
    margin-right: 10px;
  }
  .settings__range input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }
  .settings__range input::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }
  .settings__select {
    padding: 7px 20px 7px 10px;
    background-position: right 5px top 50%, 0 0;
  }
  .settings__input {
    padding: 7px 10px;
    margin-right: 10px;
    max-width: 55%;
  }
  .settings__round {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: 50%;
  }
  .settings__radio {
    margin-bottom: 10px;
  }
  .settings__footer {
    padding: 15px 20px;
  }
  .settings__footer button {
    padding: 10px;
  }
}

/*# sourceMappingURL=settings.css.map */
